*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bar-graph-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
}
h2,.subtitle{
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a0d1f1;
    width: 100%;
}
.graphs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #3498db;
    width: 100%;
}
main{
    width: 100%;

}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.graph-title{
    margin-bottom: 15px;
}
header{
    background-color: #3498db;
    width: 100%;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    border-bottom: 1px solid grey;
}

.graph-buttons{
    padding: 15px;
}

#barGraph{
    margin: 23px 0;
}



.bar {
  width: 100%;
  margin-bottom: 10px;
  background-color: #4510e1;
  color: white;
  text-align: right;
  padding: 5px;
  border-radius: 5px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  align-content: center;
  margin-bottom: 5px;
}
.barDiv{
    display: flex;
justify-content: flex-start;
width: 100%;
}

.nameContainer{
    width: 150px;
    text-align: center;
}
.populationContainer{
    width: 100px;
    text-align: center;
}
